MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB=
MONGO_HOST=
MONGO_PORT=
TRACKING_ID=
GTM_ID=
AZURE_SAS_URL=
MERCHANT_ACCOUNT=
MERCHANT_SECRET_KEY=
DOMAIN_NAME=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
VERIFY_URL=


# Email Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM="Website Contact" <noreply@example.com>
CONTACT_EMAIL=contact@example.com