MONGO_USERNAME=techliatoshynsky
MONGO_PASSWORD=kePsuMf0jFpfgP2p
MONGO_DB=lf-dev
MONGO_HOST=cluster0.txxetcv.mongodb.net
MONGO_PORT=27017
AZURE_SAS_URL=https://lfstorage582.blob.core.windows.net/lf-pub-storage?sp=racwdl&st=2025-06-23T05:49:18Z&se=2027-12-23T14:49:18Z&spr=https&sv=2024-11-04&sr=c&sig=bxlrrrwDBkR584Xz3os%2FXpC4d4fGyqCku%2FF5ZalPc5w%3D